[submodule "frontend"]
	path = frontend
	url = https://github.com/edbert2397/GrabbieFrontend.git
	branch = main
[submodule "backend"]
	path = backend
	url = https://github.com/ichsansaid/grabbie-backend.git
	branch = master
